body {
  background-color: #887CAF;
}

.container {
  width: 65%;
  background-color: #FFE3AA;
  margin: 2em auto;
  padding: 15px
}

.strikethrough {
  text-decoration: line-through;
}

li.inline form {
  display: inline;
}

.glyphicon-trash {
  font-size: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: black;
}

nav li {
  display: inline;
  padding-right: 1em;
  text-transform: uppercase;
}

.navbar-name {
  font-weight: 800;
  font-size: 1.5em;
}

.sub-nav ul {
  background-color: white;
  padding: 5px;
}

.col-md-2 {
  text-align: right;
}

.form-horizontal {
  margin: 20px;
}

.company-button {

}
